<!-- templates/add_article.html -->
{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{% static 'news/add_article.css' %}">
    <title>Add article</title>
</head>
<body>
    <form method="post" action="{% url 'add_article' %}">
        {% csrf_token %}
        <input type="text" name="title">
        <textarea name="content"></textarea>
        <select name="category_id">
            {% for category in categories %}
                <option value="{{ category.id }}">{{ category.name }}</option>
            {% endfor %}
        </select>
        <button type="submit">Ajouter</button>
    </form>
</body>
</html>


